@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap');


:root {
    --spacer: 1rem;
    --primary-color: #4af2a1;
    --secondary-color: #d5e5dd;
    --gray: #ddd;
    --font-family--heading: OpenSans, sans-serif;
    --font-family-main: Ubuntu, sans-serif;
    --padding--default: 2rem;
    --border-radius: .3rem;
}

body {
    margin: 0;
    padding: var(--spacer);
    font-family: var(--font-family-main);
}

.cal-event {
    display: flex;
    z-index: 4;
    justify-content: space-between;
    padding: .125rem .35rem;
    margin: .25rem;
    border-radius: .3rem;
}

.cal-event__title {

}
.cal-event__title--sub {

}
.cal-event__desc {

}
.cal-event__color {

}
.cal-event__time {

}
.cal-event__head {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 2rem;
}
.cal-event__edit {
    width: 18rem;
    height: 26rem;
    position: absolute;
    padding: var(--spacer);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    z-index: 5;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px #ddd;
    border: 1px solid #ddd;
}

.cal-cell {
    height: 10rem;
    border: 1px solid #0f0f0f;
}

.cal__cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 750px) {
    .cal__cells {
        grid-template-columns: 1fr;
    }
    .navbar-top__days {
        display: none;
    }
    .cal-event__edit {
        width: 90%;
        height: 90%;
        position: fixed;
        top: 5%;
    }
}

.navbar-top {
}
h1, .h1, .navbar-top__heading {
    font-family: var(--font-family--heading);
}
.navbar-top__month {
}
.navbar-top__days {

}
.navbar-top__switch {
    display: flex;
    min-width: 150px;
    margin: 0 var(--spacer);
}
.navbar-top__switch button {
    border: none;
    background: none;
}
button, .button {
    border: none;
    border-radius: var(--border-radius);
    font-family: inherit;
    background: none;
}
.button--primary {
    background-color: var(--primary-color);
    padding: .5rem var(--spacer);
    margin: .25rem;
}
.button--sec {
    background-color: var(--secondary-color);
    padding: .5rem var(--spacer);
    margin: .25rem;
}
input, .input {
    border: none;
    outline: none;
    height: 2.5rem;
    width: 100%;
    font-size: inherit;
    font-family: var(--font-family-main);
}
.input--color {
    width: 2.5rem;
    height: 2rem;
    border-radius: var(--border-radius);
}
.input--time {

}
.input--text {

}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
